@tailwind base;
@tailwind components;
@tailwind utilities;

.left-enter {
  transform: translateX(-100%);
}

.left-enter-active {
  transform: translateX(0);
  transition: transform 0.5s;
}

.left-exit {
  transform: translateX(0);
}

.left-exit-active {
  transform: translateX(-100%);
  transition: transform 0.5s;
}

.right-enter {
  transform: translateX(100%);
}

.right-enter-active {
  transform: translateX(-0);
  transition: transform 0.5s;
}

.right-exit {
  transform: translateX(-0);
}

.right-exit-active {
  transform: translateX(100%);
  transition: transform 0.5s;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
